@import "../../../styles/configs";

.goToLoginContainer {
  margin-top: 15px;
  @include font(400, 12px, 14px, 0);
  .link {
    font-weight: 500;
    color: $primary-green;
    &:focus,
    &:hover {
      color: $tertiary-green
    }
  }
}

.formGroup {
  height: 40px;
}

  .button{
    background-color: $primary-green;
    border-color: transparent;
    &:hover{
      background-color: $tertiary-green;
      border-color: transparent;
      
    }
    &:global(.btn){
      &:active{
        background-color: $tertiary-green;
        border-color: transparent;
        
      }
    }}
