@import "../../../styles/configs";

.thumbnailWrap {
  width: 90px;
  position: relative;
  cursor: pointer;
  .thumbnailImage {
    width: 100%;
    min-height: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  .zoomIcon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 15px;
    color: $primary-green;
  }
}
.galleryModal {
  height: 90vh;
  max-width: 90vw;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100px;
    height: 20%;
    background: linear-gradient(rgba($color: #000000, $alpha: 0.7), rgba($color: #000000, $alpha: 0));
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: rgba($color: $primary-white, $alpha: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: $primary-white;
    border-radius: 100%;
    border: none;
    z-index: 1;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.4rem;
  }
}