@import "../../../styles/configs";

.containerWrap {
  margin-top: 40px;
  overflow: auto;
}
.wrap {
  min-width: 450px;
  font-size: 12px;
  &:global(.table-sm) {
    & > :global(:not(caption)) {
      &  > * > * {
        padding: 0;
      }
    }
  }
  .button{
    background-color: $primary-green;
    border-color: transparent;
    &:hover{
      background-color: $tertiary-green;
      border-color: transparent;
    }
  }
  .dataTitle {
    @include font(700, 18px, 20px, 0);
    color: $primary-green-light;
  }
  .dataName {
    color: $primary-green;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 0.5fr;
    @include font(700, 14px, 16px, 0);
    padding: 10px;
  }
  .bodyWrap {
    .hikeRow {
      display: flex;
      flex-direction: column;
      .hikeFirstRow {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 0.5fr;
        padding: 5px;
        border-bottom: 1px solid $secondary-blue;
      }
      .innerTable {
        display: flex;
        flex-direction: column;
        .headerHinner,
        .bodyHinner {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          padding: 5px;
        }
        .headerHinner {
          @include font(700, 14px, 16px, 0);
        }
      }
    }
  } 
}

.orderBy{
  cursor: pointer;
  &:active{
    background-color: $secondary-green;
    color: $primary-black;
  }
  &:hover{
    background-color: $secondary-brown;
  }
  
}


