@import "../../../styles/configs";

.wrap {
  .button {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid $primary-green;
    border-radius: 5px;
    background-color: $secondary-green;
    @include font(700, 14px, 24px, 0);
    color: $primary-green;
  }
  .dataTitle {
    @include font(700, 18px, 20px, 0);
    color: $primary-green;
  }
}

