@import "../../../styles/configs";

.filterTitle {
  @include font(700, 18px, 20px, 0);
  color: $primary-green;
  text-align: left;
  margin-top: 15px;
}

.customSelect {
  :global(.css-1pahdxg-control) {
    box-shadow: 0 0 0 1px $primary-green;
    border-color: $primary-green;
    &:hover {
      box-shadow: 0 0 0 1px $primary-green;
      border-color: $primary-green;
    }
  }
  :global(.select__menu) {
    z-index: 2;
    :global(.select__option) {
      &:global(.select__option--is-focused) {
        background-color: $secondary-brown;
      }
      &:global(.select__option--is-selected) {
        background-color: $secondary-green;
        color: $primary-black;
      }
    }
  }
}