@import "../../../styles/configs";



.button{
  background-color: $primary-green;
  border-color: transparent;
  &:hover{
    background-color: $tertiary-green;
    border-color: transparent;
    
  }
  &:global(.btn){
    &:active{
      background-color: $tertiary-green;
      border-color: transparent;
      
    }
  }
 
}

.customInsert{

  &:global(.form-control){
      box-shadow: 0 0 0 1px $primary-green;
      border-color: $tertiary-green;
  }
}

.goToRegistrationContainer {
  margin-top: 15px;
  @include font(400, 12px, 14px, 0);
  .link {
    font-weight: 500;
    color: $primary-green;
    &:focus,
    &:hover {
      color: $tertiary-green
    }
  }
}