@import "../../../styles/configs";


  .button{
    background-color: $primary-green;
    border-color: transparent;
    &:hover{
      background-color: $tertiary-green;
      border-color: transparent;
    }
  }
  .dataTitle {
    @include font(700, 18px, 20px, 0);
    color: $primary-green-light;
  }
  .dataName {
    color: $primary-green;
  }
  
  .title {
    @include font(700, 18px, 20px, 0);
    color: $primary-green;
  }
  .button{
    background-color: $primary-green;
    border-color: transparent;
    &:hover{
      background-color: $tertiary-green;
      border-color: transparent;
      
    }
  
    
      &:global(.btn){
        &:active{
          background-color: $tertiary-green;
          border-color: transparent;
          
        }
      }
      
  }


.modalBackground {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
  display: flex;
  align-items: flex-end;
  .modal {
    background-color: $primary-white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 15px 10px;
    width: 100%;
    height: 80%;
    .header {
      padding: 20px 26px;
      position: relative;
      border-bottom: 1px solid $primary-green;
      @include font(500, 20px, 22px, 0);
      color: $primary-green;
      margin-bottom: 20px;
      .modalTitle {
        @include font(500, 20px, 22px, 0);
        margin-bottom: 0;
      }
      .closeButton {
        border: none;
        background-color: transparent;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        color: $primary-green;
      }
    }
    .modalBody {
      max-height: calc(100% - 83px);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

.customSelect {
  :global(.css-1pahdxg-control) {
    box-shadow: 0 0 0 1px $primary-green;
    border-color: $primary-green;
    &:hover {
      box-shadow: 0 0 0 1px $primary-green;
      border-color: $primary-green;
    }
  }
  :global(.select__menu) {
    z-index: 2;
    :global(.select__option) {
      &:global(.select__option--is-focused) {
        background-color: $secondary-brown;
      }
      &:global(.select__option--is-selected) {
        background-color: $secondary-green;
        color: $primary-black;
      }
    }
  }
}


.customInsert{

  &:global(.form-control){
    &:focus{
    box-shadow: 0 0 0 1px $primary-green;
      border-color: $tertiary-green;
    }
  }
}

.check{
  &:global(.form-check-input){
    &:active{
    background-color:$primary-green;
    border-color:$tertiary-green;
    }
  }
}