$primary-green: #02928a;
$secondary-green: #17348514;
$tertiary-green: #017872;
$primary-red: #d90110;
$primary-blue: #20639b;
$secondary-blue: #e5eff6;
$primary-white: #ffffff;


$tablet-landscape: 768px;