$primary-green: #436529;
$primary-green-light: #f8fbfb;
$secondary-green: #17348514;
$primary-error: #dc3545;

$tertiary-green: #466b12;
$primary-red: #d90110;
$primary-blue: #20639b;
$secondary-blue: #e5eff6;
$primary-white: #ffffff;
$primary-brown: #6b4d12;
$primary-black: #000;

$secondary-brown: #d2ac4d0d;

$tablet-landscape: 768px;