$primary-green: #436529;
$secondary-green: #17348514;

$tertiary-green: #466b12;
$primary-red: #d90110;
$primary-blue: #20639b;
$secondary-blue: #e5eff6;
$primary-white: #ffffff;
$primary-brown: #6b4d12;

$tablet-landscape: 768px;