@import "configs";
@import "~bootstrap/scss/bootstrap";

.handleContainer {
  position: relative;
  margin-top: 75px;
  margin-bottom: 40px;
  height: 2px;
}

.main-wrap {
  margin-top: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  @media (min-width: $tablet-landscape) {
    width: 10px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

.App {
  text-align: center;
  background-color: rgba(210, 172, 77, 0.05) ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
