@import "../../../styles/configs";


.navbarContainer{
  background-color: $primary-brown;
}
.button{
  background-color: $primary-green;
  border-color: transparent;
  &:hover{
    background-color: $tertiary-green;
    border-color: transparent;
    
  }
  &:global(.btn){
    &:active{
      background-color: $tertiary-green;
      border-color: transparent;
      
    }
  }
  & + .button,
  & + .buttonNavLink {
    margin-left: 10px;
  }
}

.buttonNavLink {
  &:global(.btn) {
    background-color: $primary-green;
    border-color: transparent;
    color: $primary-white;
    &:hover,
    &:active {
      background-color: $tertiary-green;
      color: $primary-white;
      border-color: transparent;
    }
  }
  & + .button,
  & + .buttonNavLink {
    margin-left: 10px;
  }
}


.userContainer {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  z-index: 1;
  &:hover {
    .userInfoContainer {
      color: $primary-black;
      background-color: $primary-white;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .optionModal {
      display: block;
      position: absolute;
      right: 0;
      top: calc(100% - 5px);
      padding: 5px 0.375rem;
      background-color: $primary-white;
      border-radius: 0.375rem;
      border-top-right-radius: 0;
    }
  }
  .userInfoContainer {
    display: inline-block;
    color: $primary-white;
    border-radius: 0.375rem;
    transition: unset;
    z-index: 1;
    position: relative;
  }
  
  .optionModal {
    display: none;
    min-width: 100%;
    .option {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 5px;
      border-radius: 0.375rem;
      &:hover {
        background-color: rgba($color: $tertiary-green, $alpha: 0.3)
      }
      .label {
        margin-right: 5px;
      }
    }
  }
}