name: Integration tests

on:
  push:
    branches: 
      - main 
  pull_request:
    branches: ["main", "development"]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16.x'
    - run: |
         cd server
         npm install
         npm run build --if-present
         npm run apiTest
